@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.ata-top-menu-toggle {
   @apply absolute top-10 z-50 w-full text-center bg-white;
}
.ata-top-menu-item {
   @apply text-center cursor-pointer py-1 hover:text-gray-800 relative after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:bg-neutral-800 after:lg:h-0.5 after:w-0 hover:after:lg:w-full after:lg:transition-all after:lg:ease-in-out after:lg:duration-500;
}
.ata-top-menu-item-active {
   @apply text-gray-800;
}
.icon {
   @apply w-5 h-5 inline-block;
}

.ata-sub-head-line-label {
   @apply uppercase mx-4 tracking-widest text-gray-500 font-medium text-xs text-center;
}
.ata-button {
   @apply text-center uppercase tracking-wider p-4 text-[13px] font-semibold cursor-pointer hover:bg-opacity-90;
}
